/* Generell styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Flexbox for layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigasjon */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Main-innhold */
main {
    flex-grow: 1;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#searchButton {
    list-style-type: none;
    padding: 0;
}

#searchButton li {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #111;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}
